body{
    margin-top: 50px;
}
div {
    width: 600px;
    background-color: #4c2504;
    margin: 0 auto;
    padding: 25px;
    color: beige;
}
#contact{
    border: 3px whitesmoke solid;
    padding: 25px;
    font-size: 30px;
}
.title{
    font-size: 55px;
   border-bottom:beige 3px solid;
}
.naam{
    font-size: 45px;
    color: #ffd700;
}
.telefoonnummer{
    text-decoration: none;
    color: beige;
}
.telefoonnummer:hover, .mail:hover{
    color:blue ;
}
.mail{
    color: beige;
}
